[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
django-crispy-forms = "*"
numpy = "*"
pandas = "*"
django-plotly-dash = "*"
bokeh = "*"
gunicorn = "*"
django-storages = "*"
boto3 = "*"
django-heroku = "*"
s3fs = "*"
smart-open = {extras = ["aws"],version = "*"}

[requires]
python_version = "3.7"
