{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="" class="" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create New Project</legend>
                {{ dataform | crispy }}
                {{ projectform | crispy}}
                -Please make sure dataset uploaded is in .csv format <br>
                -Please make sure first column in dataset is date
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Create</button>
            </div>
        </form>
        <!-- <div class="border-top pt-3">
            <small class="text-muted">Already have an Account?<a href="#" class="ml-2"> Sign In</a></small>
        </div> -->
    </div>
{% endblock %}